<div class="row">
    <div class="col-md-4">
        <div id="logo">
            <h1>Rock Paper Scissors!</h1>
        </div>

        <div>
            <div>
                <p><span id="numplayers">5</span> players</p>
            </div>
            <div>
                <p><span id="numgames">10</span> games in play</p>
            </div>
            <div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">Active Games</div>
                <table class="table">
                    <tr>
                        <th>Player 1</th>
                        <th>Player 2</th>
                        <th>Score</th>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>B</td>
                        <td>1:1</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="text-center">
            <button type="button" class="btn btn-success btn-lg">Find Game</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="chat-area">

        </div>
    </div>

    <div class="col-md-9">
        <input type="text" class="form-control input-lg" placeholder="Chat here...">
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-success">Send Message</button>
    </div>
</div>
